@import "tailwindcss";


:root {
  --font-inter: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;

  --font-poppins: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

body {
  font-family: var(--font-inter);
}

/* Custom hover effects for primary color */
.hover-primary:hover {
  color: #124657 !important;
}

.hover-primary-bg:hover {
  background-color: #124657 !important;
}

.hover-primary-bg-dark:hover {
  background-color: #0f3a4a !important;
}

.hover-primary-border:hover {
  border-color: #124657 !important;
}



.nav-link {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0%;
  vertical-align: middle;
}